[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
autopep8 = "*"
pycodestyle = "*"
pytz = "*"
sqlparse = "*"
dj-database-url = "*"
python-decouple = "*"
gunicorn = "*"
whitenoise = "*"
Django = ">=2.2.24"
Unipath = "*"
django-debug-toolbar = "*"
cryptography = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
